/* .techCard {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    background-color: #f0f0f0;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 120px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.techCard:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.techCard h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
} */

:global(.react-flow__handle) {
    /* visibility: hidden; */
    opacity: 0;
}

:global(.react-flow .react-flow__handle-left) {
    left: 1%;
    transform: translate(-50%, -50%);
}

:global(.react-flow .react-flow__handle-right) {
    left: 95%;
    transform: translate(-50%, -50%);
}

:global(.react-flow__node-techCard){
    border: 1.5px solid rgb(26, 26, 26);
}

.techCard {
    /* background-color: #f0f0f0; */
    text-align: center;
    width: 100%;
}

.techCard h3 {
    margin: 0px;
}

.techCard .content {
    padding-left: 10px;
}

.unlockedBlock img {
    max-width: 30px;
    max-height: 30px;
}

.unlockedBlock > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}

.unlockedBlock > div > div {
    margin-left: 10px;
}

.prequisiteText{
    font-style: italic;
}

/* Lab colores */